<div class="col-md-4">
  <h1>Blog List</h1>

  <div>
    <%= link_to "Create", new_blog_path, class: "btn btn-primary" %>
    <%= link_to "My blogs", blogs_user_path(current_user),class: "btn btn-default" %>
  </div>
</div>

<%= render 'blogs' %>